* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.add-btn {
	background-image: url('../img/plus-circle.svg');
	border: 4px solid #88ee88;
}

.remove-btn {
	background-image: url('../img/x-circle.svg');
	border: 2px solid #ee8888;
}

body {
	background-image: linear-gradient(45deg, #070e3e 0%, #0c4242 100%);
	background-attachment: fixed;

	.wrapper {
		margin: 20px auto;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		width: 100%;
		height: 100%;
		max-width: 1200px;

		.data-item {
			width: 200px;
			height: 200px;
			margin: 0 20px;
			border: 2px solid;
			border-radius: 16px;
			border-color: #8355dd;

			&__action {
				position: relative;
				&__btn {
					position: absolute;
					transform: translate(50%, 50%);
					width: 100px;
					height: 100px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: #fff0;
					border-radius: 8px;
					cursor: pointer;
				}
			}

			&__display {
				position: relative;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 30px;

				&__btn {
					position: absolute;
					right: 12px;
					top: 12px;
					width: 36px;
					height: 36px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: #fff0;
					border-radius: 4px;
					cursor: pointer;
				}

				&__symbol {
					color: #eee;
				}

				&__price {
					color: #eee;
				}
			}
		}
	}
}
